<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>CoreOne Member Servicing - {{ tenant.display_name }}</title>
</head>
<frameset rows="58,*" border="0" frameborder="0" framespacing="0">
  <frame name="banner" src="/banner?sid={{ sid }}" scrolling="no" noresize>
  <frameset cols="180,*" border="1" frameborder="1">
    <frame name="nav" src="/nav?sid={{ sid }}" scrolling="auto">
    <frame name="main" src="/home?sid={{ sid }}" scrolling="auto">
  </frameset>
</frameset>
</html>
